body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 900px;
  margin: 130px auto;
  background-color: lightblue;
  height: 600px;
  position: relative;
}

.logo {
  max-width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


